@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-100 dark:bg-grayDarkest dark:text-white text-grayDarkest antialiased;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 3s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .bgDarkMode {
    @apply bg-white dark:bg-grayDarker;
  }
  .borderDarkMode {
    @apply border-gray-200 dark:border-opacity-10;
  }
}
@media screen and (max-width: 1023.98px) {
  .course-slider {
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .course-slider::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .course-slider > * {
    scroll-snap-align: start;
  }
}
.table-responsive {
  @media screen and (max-width: 1023.98px) {
    th,
    td {
      &:not(:first-child) {
        padding-left: 100px;
      }
    }
  }
}
