@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-100 dark:bg-grayDarkest dark:text-white text-grayDarkest;
  }
}
@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 3s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
